.pruthatek-clients
{
    margin-top: 1vw;
    position: relative;
    overflow: hidden;
}
.clients-we-had
{
    position: relative;
}
.clients-we-had .blob
{
    position: absolute;
    top:  -82vw;
    left : -102vw;
    transform: scale(0.1,0.1);
    animation: water 7s linear 0s infinite alternate;
}
.clients-we-had .blob-2
{
    position: absolute;
    top:  -88vw;
    right : -109vw;
    /* background-color: red; */
    right: -100vw;
    transform: scale(0.8,0.7);
    animation: water 7s linear 0s infinite alternate;
}
@keyframes water {
    from
    {
        transform: scale(0.11,0.17);
    }
    to
    {
        transform: scale(0.17,0.18);
    }
}
.pruthatek-clients .QMA-tasks
{
    margin-top: 7vw;
}
.clients-list
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap !important;
    margin: 3vw 5vw;
    margin-top: 8vw;
}
.clients-list .client
{
    width: 16vw;
    height: 13vw;
    padding: 2vw;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.418);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    margin-top: 3vw;
}
.clients-list .client img
{
    width: 10vw;
    /* height: 6vw; */
    margin: auto;
    filter: grayscale(100%);
}
.clients-list .client img:hover
{
    filter: grayscale(0%);
}

@media only screen and (max-width: 770px)
{
    .blob
    {
        position: absolute;
        top: -32vw;
        /* background-color: red; */
        left: -90vw;
        transform: scale(0.20,0.27);
    }
    .blob-2
    {
        position: absolute;
        top: -32vw;
        /* background-color: red; */
        right: -89vw;
        transform: scale(0.20,0.27);
    }
}
@media only screen and (max-width: 600px)
{
    .clients-list .client
    {
        width: 42vw !important;
    }
}
@media only screen and (max-width: 500px)
{
    .clients-list .client img
    {
        width: 35vw;
    }
    .clients-list .client
    {
        height: 40vw !important;
        width: 90vw !important;
        margin-top: 8vw;
    }
    .pruthatek-clients .QMA-tasks
    {
        margin-top: 22vw;
        text-align: center;
    }
    .clients-list
    {
        display: flex;
        flex-direction: column;
        /* overflow-x: hidden; */
        margin-top: 0vw;
        padding-top: 0vw;
    }
    .client
    {
        height: 66vw;
        margin-top: 8vw;
    }
    .blob
    {
        position: absolute;
        top: 42vw;
        /* background-color: red; */
        /* left: -90vw; */
        transform: scale(0.30,0.37);
    }
    .blob-2
    {
        position: absolute;
        top: 62vw;
        /* background-color: red; */
        right: -89vw;
        transform: scale(0.30,0.37);
    }
}